
#tela { 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(161, 85, 85);
    background-image: linear-gradient(white, red); 
    display: flex;
    flex-direction: column;
    border: solid 2px rgba(149, 153, 153, 0.767);
 }



#sim {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    text-align: center;
    background-color: rgb(161, 85, 85); 
    background-image: linear-gradient(white, red); 
    width: 75px;
    height: 50px;
    border-radius: 30px;
    border:  groove;
    border-color: black;
}
    
#nao {
    position: absolute;
    text-align: center;
    background-color: rgb(161, 85, 85);
    background-image: linear-gradient(white, red); 
    width: 75px;
    height: 50px;
    margin: 1%;
    border-radius: 30px;
    border:  groove;
    border-color: black;

}
